

<div class=" form-group wrapper fadeInDown">
    <div id="formContent">
        <h3>Slaptažodžio atsatymas</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <label for="resetPassword">El. paštas</label>
            <input type="email"name="useremail"
            ngModel 
            required 
            #useremail="ngModel" class="form-control" id="resetPassword">           
            <button type="submit" [disabled]="f.invalid" class="fadeIn second">Atstatyti slaptažodį</button>
        </form>
       
    </div>
</div>
