<!-- 

<div class=" form-group wrapper fadeInDown">
    <div id="formContent">
        <h3>Slaptažodžio keitimas</h3>
        <form #f="ngForm" (ngSubmit)="changePassword()">
            <label for="changePassword">Naujas Slaptažodis</label>
            <input type="password"name="password"
            [(ngModel)]="model.password"
            ngModel 
            required 
            #useremail="ngModel" class="form-control" id="changePassword">           
            <button type="submit" [disabled]="f.invalid" class="fadeIn second">Sukurti naują slaptažodį</button>
        </form>
       
    </div>
</div> -->
